<html>
	

<body>
<div th:fragment="headGeneral">

	 <!-- Required meta tags -->
	    <meta charset="utf-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	    <meta name="google-site-verification" content="xxH8BxWynPpiPCpCDkT-xr1LKXlHV9Av7lof-OSWLFA" />
	    <meta name="facebook-domain-verification" content="mbzjq785g4q7bemhis3pqr0nflpsb2" />
	    
	    <meta name="robots" content="index,follow"/>
	    <meta name="author" content="Peivand Pérez" />
		<meta name="copyright" content="Vivimos.cl" />
		
	
	 
 </div>
 
	<div th:fragment="customCSS">
		 <!-- Custom CSS General -->
	 
	 		<link rel="stylesheet" type="text/css" th:href="@{/css/customCSS.css}"/> 	
	</div> 
	
	<div th:fragment="landingCSS">
	
		<!-- Google Fonts -->	
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">	
		
		<!-- Custom CSS Landing -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/landing.css}"/> 		
	
	</div>
	
	
	<div th:fragment="propiedadCSS">
		
		<!-- Google Fonts -->	
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
		
		
		<!-- Propiedad CSS Landing -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/propiedadCSS.css}"/> 		
	</div>	

</body>

	

</html>
