<html>
	

<body>
<div th:fragment="menu">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="#"><img alt="Vivimos.cl Logo" th:src="@{/imgs/logo-vivimos_cl.png}" height="50" width="195"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://vivimos.cl/propiedades">Propiedades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{https://vivimos.cl/compra-contado/}">Vende al contado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/vende-con-nosotros}">Vende</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/invierte}">Invierte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{https://vivimos.cl/blog/}">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
		
	
	 
 </div>
 

	

</body>

	

</html>
