<html>
<body>
<div th:fragment="fragmentPropiedadesSimilares">
	<section id="sectionTestimonials" style="background-color:#efefef;">
		<div class="container-md py-5 px-5">
			<div class="row justify-content-center">
			<h4 style=font-weight:bold>Revisa estas propiedades disponibles</h4>
			
				
				<div class="fotorama" data-allowfullscreen="true" data-loop="true" data-width="600" data-height="600">
					
					  		<div class="card mx-5">
							  <img class="card-img-top" th:src="@{/imgs/propiedades/santa_rosa_249/Santa Rosa 249_01.JPG}" alt="Card image cap">
							  <div class="card-body">
							    <p class="card-text">Descripción Propiedad Santa Rosa 249.</br>
							    Departamento 1 Dormitorio + 1 Baño </br>
							    UF 4.800
							    </p>
							  </div>
							</div>
					
					
							<div class="card mx-5">
							  <img class="card-img-top" th:src="@{/imgs/propiedades/santa_rosa_249/Santa Rosa 249_10.JPG}" alt="Card image cap">
							  <div class="card-body">
							    <p class="card-text">Descripción Propiedad Santa Rosa 222</p>
							    UF 2.100
							  </div>
							</div>
					
							<div class="card mx-5">
							  <img class="card-img-top" th:src="@{/imgs/propiedades/santa_rosa_249/Santa Rosa 249_11.JPG}" alt="Card image cap">
							  <div class="card-body">
							    <p class="card-text">Descripción Propiedad Santa Rosa 333.</p>
							    UF 5.400
							  </div>
							</div>
					
				
				
				</div>
					</div>	
				</div>	
			
	</section>
</div>

</body>
</html>
