<html>
<body>
<div th:fragment="fragmentPropiedadesSimilares">
	<section id="sectionTestimonials" style="background-color:#efefef;">
		<div class="container-md py-5 px-5">
			<h4 style=font-weight:bold>Revisa estas propiedades disponibles</h4>
					<div id="carouselPropiedadesSimilares" class="carousel slide  w-70 ms-auto me-auto" data-bs-ride="carousel">	
					  <div class="carousel-inner">
					  	<div class="carousel-item-active">
					  		<div class="row">
						  		<div class="col-md-4">
							  		<div class="card mx-1">
									  <img class="card-img-top" th:src="@{/imgs/propiedades/santa_rosa_249/Santa Rosa 249  1.JPG}" alt="Card image cap">
									  <div class="card-body">
									    <p class="card-text">Descripción Propiedad Santa Rosa 249.</p>
									  </div>
									</div>
								</div>
						
								<div class="col-md-4">
									<div class="card mx-1">
									  <img class="card-img-top" th:src="@{/imgs/propiedades/santa_rosa_249/Santa Rosa 249  10.JPG}" alt="Card image cap">
									  <div class="card-body">
									    <p class="card-text">Descripción Propiedad Santa Rosa 999.</p>
									  </div>
									</div>
								</div>
							
								<div class="col-md-4">
									<div class="card mx-1">
									  <img class="card-img-top" th:src="@{/imgs/propiedades/santa_rosa_249/Santa Rosa 249  11.JPG}" alt="Card image cap">
									  <div class="card-body">
									    <p class="card-text">1 Dormitorio Alameda 324.</p>
									  </div>
									</div>
								</div>
						</div>	
					</div>
						
						<div class="carousel-item">
							<div class="row">
						  		<div class="col-md-4">
							  		<div class="card mx-1">
									  <img class="card-img-top" th:src="@{/imgs/propiedades/santa_rosa_249/Santa Rosa 249  12.JPG}" alt="Card image cap">
									  <div class="card-body">
									    <p class="card-text">Departamento 1 Dormitorio Metro U.Chile.</p>
									  </div>
									</div>
								</div>
							
								<div class="col-md-4">
										<div class="card mx-1">
										  <img class="card-img-top" th:src="@{/imgs/propiedades/santa_rosa_249/Santa Rosa 249  15.JPG}" alt="Card image cap">
										  <div class="card-body">
										    <p class="card-text">Departamento 3 dormitorios La Reina.</p>
										  </div>
										</div>
								</div>
								
								<div class="col-md-4">
									<div class="card mx-1">
										  <img class="card-img-top" th:src="@{/imgs/propiedades/santa_rosa_249/Santa Rosa 249  18.JPG}" alt="Card image cap">
										  <div class="card-body">
										    <p class="card-text">Departamento 2 dormitorios Metro Simón Bolívar.</p>
										  </div>
										</div>
								</div>
							</div>
						
						</div>
						
					</div>	
					  
					  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPropiedadesSimilares" data-bs-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-bs-target="#carouselPropiedadesSimilares" data-bs-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Next</span>
					  </button>
					
 				
		</div>
	</div>	
	</section>
</div>

</body>
</html>
