body{
	font-family: 'Open Sans', sans-serif;
}

hr.Solid{
	border-top: 3px solid #ffffff;
	width: 20%;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: regular;
 	font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #ff8800;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


#invierteSeccion01Titulo01{
	font-weight:light;
	font-size: 18px;
 	color: #ffffff;
}

#invierteSeccion01Titulo02{
	font-weight:bold;
	font-size: 32px;
 	color: #ffffff;
}

#invierteSeccion01Titulo03{
	font-weight:bold;
	font-size: 32px;
 	color: #ffffff;	
}

#invierteSeccion02Titulo01{
	font-weight:light;
	font-size: 18px;
 	color: #414042;
}

#invierteSeccion02Titulo02{
	font-weight:bold;
	font-size: 27px;
 	color: #6b6c6f;	
}

#invierteSeccion02Titulo03{
	font-weight:regular;
	font-size: 24px;
 	color: #333333;
 	line-height: 24px;	
}

#invierteSeccion03Titulo01{
	font-weight:bold;
	font-size: 27px;
 	color: #6b6c6f;	
}

#invierteSeccion03Titulo02{
	font-weight:regular;
	font-size: 23px;
 	color: #414042;
 	line-height: 34px;
}

.invierteBeneficioTitulo{
	font-weight:regular;
	font-size: 23px;
 	color: #414042;
}

.invierteBeneficioTexto{
	font-weight:regular;
	font-size: 14px;
 	color: #414042;
 	line-height: 24px;
}

#invierteSeccion04Titulo01{
	font-weight:light;
	font-size: 18px;
 	color: #ffffff;
}

#invierteSeccion04Titulo02{
	font-weight:bold;
	font-size: 32px;
 	color: #ffffff;
}

#invierteSeccion04Titulo03{
	font-weight:regular;
	font-size: 19px;
 	color: #ffffff;
}

