<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:insert="fragments/head :: headGeneral"></div>
		<div th:insert="fragments/bootstrap :: headerBootstrap"></div>
		<div th:insert="fragments/pixels :: pixels"></div>

	<!-- Insertar los tags individuales de cada página -->
	<title>5 Errores graves al invertir en departamentos</title>
	
	
	
		<meta name="description" content="Veremos los 5 errores graves al invertir en departamentos. 
		Qué poder hacer para evitarlos, en qué cosas fijarse al invertir en departamentos."/>
	
	    <meta name="keywords" content="errores invertir departamentos">
	
	
	</head>	


	<body>
	
	<!-- Jumbotron -->
	<div class="p-5" text-center bg-light>
		<h1 class="my-1 text-center h4">5 Errores graves al invertir en departamentos</h1>
	</div>
	<!-- Jumbotron -->
	
	<!-- Main Layout -->
	<main class="my-4">
	<div class="container-fluid">
		
		<div class="row justify-content-center">
			<div class="col-md-5 mb-4">
			<!-- Post Data -->		
				<section id="posts" class="text-center mb-4">
				<h2 class="my-1 text-start p-3 h5">Error #1 No saber qué buscar</h2>
				<div class="text-start">
					<p>
					Al momento de invertir en propiedades hay factores que si bien son importantes para el que compra,pero para el arrendatario no son tan relevantes.</br></br>
					El arrendatario prefiere sobre todo una ubicación que le permita llegar a su trabajo o a sus estudios de forma fácil.</br></br>
					</p>
					
					<h6>Buscar cerca del Metro</h6>
					<p>
					Cerca del metro y en barrios con mucha conectividad en transportes, como sería Santiago Centro. Además, el departamento tiene que estar a buen precio.</br></br>
					Por el contrario, si se compra un departamento inserto en un barrio dónde por lo general viven familias, hay colegios y otros servicios.</br></br>
					
					<h6>Evitar barrios residenciales</h6>
					<p>
					Este sector por definición es “más residencial”, por lo tanto la cantidad de gente que esté dispuesta a pagar un arriendo es menor en comparación al sector más central.</br></br>
					Esto lo podemos ver en profundidad en otros post y se demuestra matemáticamente con la rentabilidad bruta. </br></br>
					</p>
					
					<h6>Buscar rentabilidad</h6>
					<p>	
					Si compramos un departamento que es grande, con terraza o que sea un edificio moderno o alguna otra característica que es atractiva, estaríamos gastando de más porque en los mercados intensos en inversión esas características no se ven reflejadas en el valor del arriendo.</br></br>	
					Si un arriendo de un departamento de 1 dormitorio en una zona como Santiago Centro está en 10 UF mensuales y un departamento que tiene una terraza más grande se arrendará en las mismas 10 UF. Sin embargo, al comprar la propiedad con terraza más grande se pagó un precio más caro, por lo tanto tu rentabilidad es menor.				
					</p>	
				
					<div class="embed-responsive embed-responsive-16by9">
	  					<iframe class="embed-responsive-item" width="445" height="315" src="https://www.youtube.com/embed/UJKZFO6qulc?rel=0" allowfullscreen></iframe>
					</div>
				
				</div>

				
			
									
				</section>	
			<!-- Post Data -->
			</div>
		</div>
		
	</div>
	
	</main>
	
	<!-- Main Layout -->

	
	
		<div th:insert="fragments/linkedInTag :: linkedInTag"></div>
		<div th:insert="fragments/bootstrap :: footerBootstrap"></div>			
	</body>		

</html>
