<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:insert="fragments/head :: headGeneral"></div>
		<div th:insert="fragments/bootstrap :: headerBootstrap"></div>
		<div th:insert="fragments/pixels :: pixels"></div>

	<!-- Insertar los tags individuales de cada página -->
	<title>5 Errores graves al invertir en departamentos</title>
	
	
	
		<meta name="description" content="Veremos los 5 errores graves al invertir en departamentos. 
		Qué poder hacer para evitarlos, en qué cosas fijarse al invertir en departamentos."/>
	
	    <meta name="keywords" content="errores invertir departamentos">
	
	
	</head>	


	<body>
	
	<!-- Jumbotron -->
	<div class="p-5 text-center bg-light">
		<h1 class="my-1 h4">5 Errores graves al invertir en departamentos</h1>
		<p>Veremos los errores más comunes al invertir en departamentos (arrendarlo a otros) desde el punto de vista financiero y cómo evitarlos</p>
		
	</div>
	<!-- Jumbotron -->
	
	<!-- Main Layout -->
	<main class="my-4">
	<div class="container-fluid">
		
		<div class="row justify-content-center">
			<div class="col-md-5 mb-4">
			<!-- Post Data -->		
				
				
		<ul class="text-start">
			<li><a href="#error01"> Error #1 No saber qué buscar</a></li>
			<li><a href="#error02">Error #2 Creer que las propiedades van a bajar de precio</a></li>
			<li><a href="#error03">Error #3 Comprar un departamento muy grande</a></li>
			<li><a href="#error04">Error #4 Creer que el departamento es para tí</a></li>
			<li><a href="#error05">Error #5 Pensar sólo en el aumento del valor de la propiedad</a></li>
		</ul>
			
			<section id="error01" class="text-center mb-4">
				
				<h2 class="my-1 text-start p-3 h5">Error #1 No saber qué buscar</h2>
				<div class="text-start">
					<p>
					Al momento de invertir en propiedades hay factores que si bien son importantes para el que compra,pero para el arrendatario no son tan relevantes.</br></br>
					El arrendatario prefiere sobre todo una ubicación que le permita llegar a su trabajo o a sus estudios de forma fácil.</br></br>
					</p>
					
					<h6>Cómo buscar una propiedad para inversión</h6>
						<ul>
							<li>Buscar cerca del Metro</li>
							<li>Evitar barrios muy residenciales</li>
							<li>Buscar rentabilidad</li>
							
						</ul>
					<h6>Buscar cerca del Metro</h6>
					<p>
					Cerca del metro y en barrios con mucha conectividad en transportes, como sería Santiago Centro. Además, el departamento tiene que estar a buen precio.</br></br>
					Por el contrario, si se compra un departamento inserto en un barrio dónde por lo general viven familias, hay colegios y otros servicios.</br></br>
					
					<h6>Evitar barrios residenciales</h6>
					<p>
					Este sector por definición es “más residencial”, por lo tanto la cantidad de gente que esté dispuesta a pagar un arriendo es menor en comparación al sector más central.</br></br>
					Esto lo podemos ver en profundidad en otros post y se demuestra matemáticamente con la rentabilidad bruta. </br></br>
					</p>
					
					<h6>Buscar rentabilidad</h6>
					<p>	
					Si compramos un departamento que es grande, con terraza o que sea un edificio moderno o alguna otra característica que es atractiva, estaríamos gastando de más porque en los mercados intensos en inversión esas características no se ven reflejadas en el valor del arriendo.</br></br>	
					Si un arriendo de un departamento de 1 dormitorio en una zona como Santiago Centro está en 10 UF mensuales y un departamento que tiene una terraza más grande se arrendará en las mismas 10 UF. Sin embargo, al comprar la propiedad con terraza más grande se pagó un precio más caro, por lo tanto tu rentabilidad es menor.				
					</p>	
				
					<div class="embed-responsive embed-responsive-16by9">
	  					<iframe class="embed-responsive-item" width="445" height="315" src="https://www.youtube.com/embed/UJKZFO6qulc?rel=0" allowfullscreen></iframe>
					</div>
				</div>
			</section>
				<!-- Se termina Error #1 -->	
				
				
				<!-- Comienza Error #2 -->	
				<section id="error02" class="text-center mb-4">
				<h2 class="my-1 text-start p-3 h5">Error #2 Creer que las propiedades van a bajar de precio</h2>
				<div class="text-start">
					<p>
					Si estás buscando <strong>invertir en propiedades</strong> te has preguntado:</br></br>
						<ul>
							<li>¿Es un buen momento para comprar?</li>
							<li>¿Las propiedades bajarán de precio?</li>
							<li>¿Cuál es la razón?</li>	
						</ul>
					</p>	
					
					<h6>¿Es un buen momento para comprar?</h6>
					<p>
					Si miramos los datos históricos de venta de propiedades en Santiago, vemos que el valor UF/m2 ha estado en constante alza.</br></br>
					Ha habido ciertos momentos muy cortos que las propiedades no han aumentado su valor. </br></br>
					Pero la tendencia de los últimos 15 años según estudio de ventas inmobiliarias de GFK Adimark 4T 2020
					las propiedades suben de precio en el valor UF/m2 tanto en casas como departamentos.</br></br>
					</p>
					
					<img src="imgs/graficoError02.png" alt="precios históricos propiedades Santiago"></br></br>
					
					<h6>¿Las propiedades bajarán de precio?</h6>
					<p>Lo que nos indica la estadística es que a largo plazo no bajan.</br></br>
					   Este efecto se resplada por el constante aumento de los precios de arriendo (medido en UF/m2)</br></br>
					   
					   Este efecto no impide que se puedan encontrar <strong>propiedades baratas</strong> en casos particulares de vendedores que necesiten vender una propiedad con urgencia.
					</p>
					
					
					<h6>¿Cuál es la razón</h6>
					<p>
					Los terrenos son escasos y las restricciones normativas para construir nuevos departamentos hacen que exista menos propiedades disponibles de las que se necesitan.</br></br> 
					Por lo tanto, terminan siendo cada vez más escasas y por lo tanto más caras.</br></br>

					Si tienes la disponibilidad de poder comprar una propiedad, el <strong>mejor momento</strong> para comprar fue <strong>ayer.</strong> El segundo <strong>mejor momento</strong> para comprar es <strong>hoy.</strong>
					</p>
					
					
				
					<div class="embed-responsive embed-responsive-16by9">
	  					<iframe class="embed-responsive-item" width="445" height="315" src="https://www.youtube.com/embed/O4t9mieCWzQ?rel=0" allowfullscreen></iframe>
					</div>
				</div>					
				</section>	
			<!-- Se termina Error #2 -->	
			
			<!-- Comienza Error #3 -->	
				<section id="error03" class="text-center mb-4">
				<h2 class="my-1 text-start p-3 h5">Error #3 Comprar un departamento muy grande</h2>
				<div class="text-start">
					<p>
					Si quieres comprar un departamento para vivir tú en el, el comprar un departamento grande está perfecto. Sin embargo, si lo quieres comprar y arrendarlo a otra persona vas a tener un problema de rentabilidad.
					</p>
					
					<h6>¿Por qué es un error comprar un departamento muy grande al invertir?</h6>
						<ul>
							<li>El arriendo no aumenta en UF/m2 en un depto más grande</li>
							<li>El precio de compra tiende a ser mayor</li>
							<li>Hay menor rentabilidad</li>	
						</ul>
			
					
					<h6>El arriendo no aumenta en UF/m2 en un depto más grande</h6>
					<p>
					Cabe destacar que no hay una inversión “mala” en propiedades. Hay inversiones que son mejores que otras. Por lo general las mejores son las propiedades más chicas.
					</p>
					<p>
					Si un arriendo de un departamento de 1 dormitorio en una zona como Santiago Centro está en 10 UF mensuales.</br></br>
					Un departamento de 3 dormitorios el arriendo está en 14 UF mensuales, tenemos que el arriendo del departamento de 3 dormitorios vale un 40% más que el de 1 dormitorio.
					</p>	
									
					<h6>El precio de compra tiende a ser mayor</h6>
					<p>
					Sin embargo, el valor de compra promedio de un departamento de 1 dormitorio es de UF 2.000 . El de 3 dormitorios es de UF 3.500 (Febrero 2021), estaríamos comprando una propiedad por un 75% más del valor y se arrienda sólo un 40% más.</br></br>
					Este fenómeno se da un todas las ubicaciones.
					</p>
					
					
					<h6>Hay menor rentabilidad</h6>
					<p>
					Por lo general un departamento más chico es más rentable que uno más grande. </br></br>
					Incluso mientras menos m2 tenga (por ejemplo un Studio) es más rentable.</br></br>
					Nosotros recomendamos comprar departamentos studio y los de 1 dormitorio para inversión.
					</p>
					
					
				
					<div class="embed-responsive embed-responsive-16by9">
	  					<iframe class="embed-responsive-item" width="445" height="315" src="https://www.youtube.com/embed/jyZBg8jhSjU?rel=0" allowfullscreen></iframe>
					</div>
				</div>					
				</section>	
			<!-- Se termina Error #3 -->
			
			<!-- Comienza Error #4 -->	
				<section id="error04" class="text-center mb-4">
				<h2 class="my-1 text-start p-3 h5">Error #4 Creer que el departamento es para tí.</h2>
				<div class="text-start">
					<p>
					Quizás tu prefieras vivir en un edificio con pocos pisos, con pocos departamentos por piso y así tener una comunidad más tranquila.</br></br>
					Otro ejemplo es si el edificio tiene áreas comunes que no se utilizan como salas de cine, salones gourmet o sauna.
					</p>
					
					<h6>Terminas pagando más por la propiedad y eso no se refleja en el arriendo </h6>
						<ul>
							<li>Aumentan los gastos comunes</li>
							<li>No vas a poder cobrar más caro por tener más equipamiento</li>
							<li>Arrendatario prioriza costo del arriendo + costo gastos comunes</li>	
						</ul>
			
					
					<h6>Aumentan los gastos comunes</h6>
					<p>
						El tener todos estos extras, el costo de los gastos comunes probablemente aumente.</br></br>
						Esto tiene como efecto que si el departamento queda vacío por un tiempo es el dueño quién tiene que pagar esos gastos comunes.					
					</p>
					
					<h6>Arrendatario prioriza costo del arriendo + costo gastos comunes</h6>
					<p>
					No existe evidencia que indique que un arrendatario va a pagar un mayor valor en arriendo (UF/m2) debido a que el edificio tenga alguna característica especial.</br></br>
					Esto es considerando un mismo mercado, es decir propiedades similares:
					</p>
						<ul>
							<li>Depto 2 dormitorios en Santa Isabel con Carmen vs otro en Eleuterio Ramírez</li>
							<li>Depto 3 dormtorios en Irarrázaval con Pedro de Valdivia vs otro en Simón Bolívar</li>
							<li>Depto 4 dormitorios en Kennedy con Padre Hurtado vs Pdte Riesco con Las Tranqueras</li>
						</ul>
					<p>
					Claramente a un mismo valor de arriendo + gasto común un arrendatario va a preferir el edificio de mejor equipamiento.</br></br>
					Sin embargo, si el arrendatario quiere un departamento de 2 dormitorios en Santiago Centro las va a comparar con los otros edificios que hay en el sector.</br></br>
					La gran mayoría de esos edificios van a tener el equipamiento básico que sería:
					</p>
						<ul>
							<li>Piscina</li>
							<li>Gimnasio</li>
							<li>Quincho</li>
							<li>Lavandería</li>
							<li>Sala de eventos</li>	
						</ul>
						
					<p>Si a este arrendatario le ofrecemos un arriendo y el edificio tiene Sauna, Sala de Cine y jardines muy grandes sería atractivo.</br></br>
					Pero si le decimos que estas características extras le suben su valor a pagar total (en los gastos comunes) en un monto importante, lo va a desechar y preferirá otro departamento ubicado en otro edificio.
					</p>	
					
					<p>Si nos cambiamos de mercado, por ejemplo Vitacura,los arrendatarios van a exigir que el departamento tenga amplios estacionamientos de visitas, áreas verdes grandes,y un edificio de pocos pisos.</br></br>
					En el mercado se verá reflejado porque el resto de los edificios tendrá prácticamente el mismo equipamiento.
					</p>		
					
					
					<h6>Arrendatario prioriza costo del arriendo + costo gastos comunes</h6>
					<p>
					Desde el punto de vista del arrendatario, lo que va a priorizar es pagar un menor valor posible, considerando que paga arriendo + gastos comunes.</br></br>
					Al vivir en un edificio con muchos pisos, los gastos comunes se reparten entre más departamentos. Por lo tanto el valor final es menor y desde el punto de vista del arrendatario es más atractivo.</br></br>
					El caso de un edificio de pocos pisos sería atractivo si efectivamente el arrendatario está dispuesto a pagar un arriendo de 1 o 2 UF sólo por el hecho de “vivir con menos gente”. </br></br>
					Lo anterior estadísticamente no es así aunque pueden haber casos aislados.
					</p>
				

					<h6>Ponerse en el lugar del arrendatario</h6>
					<p>
					En resumen el consejo es ponerse en el lugar del arrendatario y ver qué es importante para él.</br></br>
				    También si dicho arrendatario está dispuesto a pagar más por alguna característica especial que tenga la propiedad.</br></br>
					Nuestra experiencia indica que en los mercados para inversión esos características extra no se pagan en el arriendo.
					</p>
					<div class="embed-responsive embed-responsive-16by9">
	  					<iframe class="embed-responsive-item" width="445" height="315" src="https://www.youtube.com/embed/hbaMHgK5LBk?rel=0" allowfullscreen></iframe>
					</div>
				</div>					
				</section>	
			<!-- Se termina Error #4 -->
			
			
			<!-- Post Data -->
			</div>
		</div>
		
	</div>
	
	</main>
	
	<!-- Main Layout -->

	
	
		<div th:insert="fragments/linkedInTag :: linkedInTag"></div>
		<div th:insert="fragments/bootstrap :: footerBootstrap"></div>			
	</body>		

</html>
