<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<div th:insert="fragments/head :: headGeneral"></div>
		<div th:insert="fragments/bootstrap :: headerBootstrap"></div>
		<div th:insert="fragments/head :: customCSS"></div>
	<!-- 	<div th:insert="fragments/pixels :: pixels"></div>-->	
		
		

	<!-- Insertar los tags individuales de cada página -->
	<title>Gracias por invertir en propiedades</title>
	
	
	
	
	</head>	


	<body>
	
	<div th:insert="fragments/menu :: menu"></div>
	
	<div class="container-md">

	
	<p>
		Mail Enviado
	</p>
	

	
	
	
	</div>
	

	
	

		<div th:insert="fragments/bootstrap :: footerBootstrap"></div>		
		
	</body>		

</html>
