<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<div th:insert="fragments/head :: headGeneral"></div>
		<div th:insert="fragments/bootstrap :: headerBootstrap"></div>
		<div th:insert="fragments/bootstrap :: jQuery"></div>
		<div th:insert="fragments/head :: customCSS"></div>
		<div th:insert="fragments/pixels :: pixels"></div>
		
		

	<!-- Insertar los tags individuales de cada página -->
	<title>Título de prueba Index</title>
	
	
	<!--  
	<meta name="description" content="HTML meta tags are a cornerstone of coding. 
	But which are the most essential? We give you a rundown of all the meta tags you need to know."/>
	
	<meta name="keywords" content="Como vender departamento">
	-->
	
	</head>	


	<body>
	
	<div th:insert="fragments/menu :: menu"></div>
	
	<div class="container-md">
		<div class="row py-5 my-5">
			<h1>File Upload Testing</h1>
			<form th:action="@{fileUpload/save}" th:object="{images}" method="post">
				
				<input type="hidden" th:field="*{id}">
				
				<p>
					<label>Photos: </label>
				    <input type="file" class="btn btn-secondary" name="image" accept="image/png, image/jpeg" id="fileImage"/>
				</p>
				
				<p>
					<img id="thumbnail01" alt="imagePreview"/>
				</p>
				
				
				
				
			
			
			</form>
		</div>
	</div>
	

	
	
		<div th:insert="fragments/linkedInTag :: linkedInTag"></div>
		<div th:insert="fragments/bootstrap :: footerBootstrap"></div>			
	</body>		

</html>
