<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<div th:insert="fragments/head :: headGeneral"></div>
		<div th:insert="fragments/bootstrap :: headerBootstrap"></div>
		<div th:insert="fragments/head :: customCSS"></div>
		<div th:insert="fragments/pixels :: pixels"></div>
		
		

	<!-- Insertar los tags individuales de cada página -->
	<title>Gracias por descargar la guía para invertir en propiedades	</title>
	
	
	
	
	</head>	


	<body>
	
	<div th:insert="fragments/menu :: menu"></div>
	
	<div class="container-md">
	Gracias por descargar la guia de cómo invertir en propiedades</br></br>
	
	<p>
	Si quieres invertir en propiedades y contactarte con nosotros, <a th:href="@{/invierte}">lo puedes hacer acá </a>
	</p>
	</div>
	

	

	
	
		<div th:insert="fragments/linkedInTag :: linkedInTag"></div>
		<div th:insert="fragments/bootstrap :: footerBootstrap"></div>			
	</body>		

</html>
