<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<div th:insert="fragments/head :: headGeneral"></div>
		<div th:insert="fragments/bootstrap :: headerBootstrap"></div>
		<div th:insert="fragments/head :: customCSS"></div>
		<div th:insert="fragments/head :: landingCSS"></div>
		<div th:insert="fragments/pixels :: pixels"></div>
		
		
		
		

	<!-- Insertar los tags individuales de cada página -->
	<title>Invierte en propiedades</title>
	
	
	<!--  
	<meta name="description" content="HTML meta tags are a cornerstone of coding. 
	But which are the most essential? We give you a rundown of all the meta tags you need to know."/>
	
	<meta name="keywords" content="Como vender departamento">
	-->
	
	</head>	


	<body>
	
	<div th:insert="fragments/menu :: menu"></div>
	<header class="page-header gradient">
		<div class="container-md pt-3">
			<div class="row">
				<div class="col-md-8">
					<h4 id="invierteSeccion01Titulo01">Para Inversionistas</h4>
					<h1 id="invierteSeccion01Titulo02">Aumenta tu patrimonio,invierte en propiedades usadas</h1>
				<div class="row align-items-center">
					<div class="col-md-4">
						<p class="dash"></p>
					</div>
						<div class="col-md-8">
						<p id="invierteSeccion01Titulo03">Suscríbete para recibir información de propiedades usadas ideales para inversión antes que salgan al mercado.
						</p>
					</div>
				</div>	
					
					<button type="button" class="btn btn-secondary">correo electrónico</button>
					<button type="button" class="btn btn-primary ms-3">Invierte</button>	
				</div>	
			
				<div class="col-md-4">
				<img src="/imgs/ilustraciones_movil-01.png" class="img-fluid" style="margin-top: 130px;">
					
				</div>	
			</div>
		
		</div>
		
	</header>
	
	

	
	
		<div th:insert="fragments/linkedInTag :: linkedInTag"></div>
		<div th:insert="fragments/bootstrap :: footerBootstrap"></div>			
	</body>		

</html>
