<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<div th:insert="fragments/head :: headGeneral"></div>
		<div th:insert="fragments/bootstrap :: headerBootstrap"></div>
		<div th:insert="fragments/head :: customCSS"></div>
		<div th:insert="fragments/head :: landingCSS"></div>
	<!--  	<div th:insert="fragments/pixels :: pixels"></div> -->
		
		
		
		

	<!-- Insertar los tags individuales de cada página -->
	<title>Invierte en propiedades</title>
	
	
	<!--  
	<meta name="description" content="HTML meta tags are a cornerstone of coding. 
	But which are the most essential? We give you a rundown of all the meta tags you need to know."/>
	
	<meta name="keywords" content="Como vender departamento">
	-->
	
	<!-- GOOGLE Recaptcha -->	
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <script>
       function onSubmit(token) {
         document.getElementById("formInvierte01").submit();
       }
     </script>
	</head>	


	<body>
	
	<div th:insert="fragments/menu :: menu"></div>
	<header class="page-header gradient">
		<div class="container-md pt-5">
			<div class="row">
				<div class="col-md-8">
					<h4 id="invierteSeccion01Titulo01">PARA INVERSIONISTAS</h4>
					<h1 id="invierteSeccion01Titulo02">Aumenta tu patrimonio,invierte en propiedades usadas</h1>
				<div class="row align-items-center">
					<div class="col col-sm-2">
						<p class="dash"></p>
					</div>
					
					<div class="col-9 col-sm-6">
						<p id="invierteSeccion01Titulo03">Suscríbete para recibir información de propiedades usadas ideales para inversión antes que salgan al mercado.
						</p>
					</div>
				</div>	
					<form action="#" th:action="@{/invierteForm}" th:object="${user}" method="post" id="formInvierte01">
						
						<input type="email" class="btn btn-secondary" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required  placeholder="correo electrónico" th:field="*{email}" />
						<input type="submit" class="btn btn-primary ms-3 " value="Invierte" />
						<div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('recaptcha.key')}" data-bind="recaptcha-submit" data-callback="onSubmit" th:field="*{g-recaptcha-response}"></div>	
					</form>	
				</div>	
			
				<div class="col-md-4">
				<img src="/imgs/ilustraciones_movil-01.png" alt="Obtén información para comprar propiedades usadas aptas para inversión" class="img-fluid" style="margin-top: 130px;">		
				</div>	
			</div>
		</div>	
	</header>
	
	<section id="quienesSomos">
		<div class="container-md pt-3 mt-3 mb-5">
			<div class="row">
				<div class="col-md-8">
					<h4 id="invierteSeccion02Titulo01">¿QUIÉNES SOMOS?</h4>
					<h2 id="invierteSeccion02Titulo02">Corredores e inversionistas inmobiliarios con experiencia</h2>
				</div>
			</div>
			<div class="row justify-content-center align-items-center">
				<div class="col col-sm-6 text-center">
					<img src="/imgs/ilustraciones_movil-02.png" class="img-fluid" alt="somos corredores de propiedades e inversionistas inmobiliarios con experiencia">
				</div>
				<div class="col-7 col-sm-6">
					<p id="invierteSeccion02Titulo03" class="verticalSolidLine">Somos corredores de propiedades expertos en <strong>propiedades para inversión</strong> en Santiago,Chile. 
						</br>Nos enfocamos en el segmento de las UF 1.500 a UF 3.500.
					</p>
				</div>
			</div>
		</div>
	
	</section>	
	
	<section id="queHacemos" style="background-color:#efefef;">
		<div class="container-md pt-3 mt-3">
			<div class="row text-center">
				<div class="col-md-12">
					<h2 id="invierteSeccion03Titulo01">¿QUÉ HACEMOS?</h2>
					<p id="invierteSeccion03Titulo02">En Vivimos.cl te ayudamos a encontrar propiedades usadas 
					ideales para invertir, con buenas proyecciones y rentabilidad.
					</p>
					<form action="#" th:action="@{/invierteForm}" th:object="${user}" method="post">
						<input type="email" class="btn btn-secondary" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required  placeholder="correo electrónico" th:field="*{email}" />
						<input type="submit" class="btn btn-primary ms-3" value="Invierte" />	
					</form>	
				</div>
				
			</div>
		
						
			
			<div class="row p-5 text-center justify-content-center">
				<div class="col-md-4">
					<img src="imgs/ilustraciones_movil-04.png" class="img-fluid" alt="Somos corredores de propiedades especializados en propiedades para inversión. Te damos asesoría integral para comprar propiedades para inversión">
					<h5 class="invierteBeneficioTitulo">Asesoría Integral</h5>
					<p class="invierteBeneficioTexto">Te ayudamos a encontrar la propiedad perfecta para tí, acorde a tu capacidad de pago y proyecciones.</p>
				</div>
				
				<div class="col-md-4">
					<img src="imgs/ilustraciones_movil-05.png" class="img-fluid" alt="Te enviamos información de propiedades a la venta ideales para inversión antes que salgan al mercado">
					<h5 class="invierteBeneficioTitulo">Información Temprana</h5>
					<p class="invierteBeneficioTexto">Enviamos información de propiedades usadas antes de que se publiquen en el mercado, con un informe de rentabilidad potencial.</p>
				</div>
				
				<div class="col-md-4">
					<img src="imgs/ilustraciones_movil-06.png" class="img-fluid" alt="Nos encargamos del proceso de compraventa al comprar propiedades aptas para inversión.">
					<h5 class="invierteBeneficioTitulo">Información Temprana</h5>
					<p class="invierteBeneficioTexto">Nos encargamos del proceso de compraventa completo para que la experiencia sea fácil y rápida. Nuestra comisión es del 2%+ IVA.</p>
				</div>
			</div>
		</div>	
	</section>
	

	<section id="paraInversionistas" class="gradient">
		<div class="container-md pt-3">
		
			<div class="row pt-5">
				<div class="col-md-8">
					<div class="row">
						<h4 id="invierteSeccion04Titulo01">PARA INVERSIONISTAS</h4>
						<h1 id="invierteSeccion04Titulo02">¿Por qué elegir propiedades usadas?</h2>		
					</div>
					
					<div class="row align-items-center">
						<div class="col col-sm-2">
							<p class="dash"></p>
						</div>
						<div class="col-9 col-sm-6">
							<p class="invierteSeccion04Titulo03">Rentabilidad Inmediata</p>
						</div>		
					</div>
					
					<div class="row align-items-center">
						<div class="col col-sm-2">
							<p class="dash"></p>
						</div>
						<div class="col-9 col-sm-6">
							<p class="invierteSeccion04Titulo03">Sin pagar sobreprecio</p>
						</div>		
					</div>
					
					<div class="row align-items-center">
						<div class="col col-sm-2">
							<p class="dash"></p>
						</div>
						<div class="col-9 col-sm-6">
							<p class="invierteSeccion04Titulo03">Apuesta Segura</p>
						</div>		
					</div>
					
					<div class="text-center">
						
						<a href="#invierteSeccion03Titulo02"> <button type="button" class="btn btn-primary ms-3">APRENDE MÁS</button></a>
						
					</div>
					
				</div>
				
				<div class="p-3 col-md-4">
				<img src="/imgs/ilustraciones_movil-03.png" class="img-fluid" style="margin-top: 90px;">
				</div>
			</div>
		
		</div>
			
	
	</section>
	

	
	
	<!--  	<div th:insert="fragments/linkedInTag :: linkedInTag"></div>-->
		<div th:insert="fragments/bootstrap :: footerBootstrap"></div>			
		
	</body>		

</html>
