<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<div th:insert="fragments/head :: headGeneral"></div>
		<div th:insert="fragments/bootstrap :: headerBootstrap"></div>
		<div th:insert="fragments/head :: customCSS"></div>
		<div th:insert="fragments/head :: landingCSS"></div>
	<!--  	<div th:insert="fragments/pixels :: pixels"></div> -->

	<!-- Insertar los tags individuales de cada página -->
	<title>Invierte en propiedades</title>
	
	
	<!--  
	<meta name="description" content="HTML meta tags are a cornerstone of coding. 
	But which are the most essential? We give you a rundown of all the meta tags you need to know."/>
	
	<meta name="keywords" content="Como vender departamento">
	-->
	


     
	</head>	


	<body>
	
	 	
	<div th:insert="fragments/menu :: menu"></div>
	<header class="page-header gradientVende">
	<div class="container-md py-5 px-5">
	
			<div class="row">
				<div class="col-md-8">
					<h4 id="invierteSeccion01Titulo01">VENTA DE PROPIEDADES</h4>
					
				<div class="row align-items-center">
					<div class="col col-sm-2">
						<p class="dash"></p>
					</div>
					
					<div class="col-9 col-sm-6">
						<p id="invierteSeccion01Titulo03">En Vivimos.cl te ayudamos a vender tu propiedad, apoyando el proceso completo.
						</p>
					</div>
				</div>	
					<form action="#" th:action="@{/vendeForm}" th:object="${user}" method="post" id="formInvierte01">
						 <input type="hidden" name="g-recaptcha-response" class="recaptchaResponse">
    					 <input type="hidden" name="action" value="invierteForm">
						
						<input type="email" class="btn btn-secondary" id="validationDefaultUsername01"  aria-describedby="inputGroupPrepend" placeholder="correo electrónico" th:field="*{email}" required />
						<input type="submit" class="btn btn-primary" value="Vende con nosotros" /> 
						
						 
						<div class="my-2" th:if="${reCaptchaError}">
							<div class="alert alert-danger text-left" th:each="code : ${reCaptchaError}">
								ReCaptcha: <span th:text="${code}"></span>
							</div>
						</div>
						
					</form>	
				</div>	
			
				<div class="col-md-4">
				<img src="/imgs/ilustraciones_movil-01.png" alt="Obtén información para comprar propiedades usadas aptas para inversión" class="img-fluid" style="margin-top: 130px;">		
				</div>	
			</div>
			</div>
		

	</header>
	
	<section id="quienesSomos">
		<div class="container-md py-5 px-5">
			<div class="row md-mx-5">
			<div class="col-md-8">
				<div class="row py-5">
					<div class="col-md-12">
					<h4 id="invierteSeccion02Titulo01">¿QUIÉNES SOMOS?</h4>
					<h2 id="invierteSeccion02Titulo02">Corredores e inversionistas inmobiliarios con experiencia</h2>
				</div>
			</div>
			<div class="row justify-content-center align-items-center">
				<div class="col col-sm-6 text-center">
					<img src="/imgs/ilustraciones_movil-02.png" class="img-fluid" alt="somos corredores de propiedades e inversionistas inmobiliarios con experiencia">
				</div>
				<div class="col-7 col-sm-6">
					<p id="invierteSeccion02Titulo03" class="verticalSolidLine">Somos corredores de propiedades expertos en <strong>propiedades para inversión</strong> en Santiago Centro y comunas aledañas.
						Tenemos una red de inversionistas interesados en propiedades. 
					
					</p>
				</div>
			</div>
		</div>
		</div>	
		</div>
	
	</section>	
	
	<section id="queHacemos" style="background-color:#efefef;">
		<div class="container-md py-5 px-5">
			<div class="row md-mx-5">
				<div class="col-md-8">
				<div class="row py-5 text-center">
				<div class="col-md-12">
					<h2 id="invierteSeccion03Titulo01">¿QUÉ HACEMOS?</h2>
					<p>En Vivimos.cl te ayudamos a vender tu propiedad de manera expedita y fácil.</p>
					<p>Desde le asesoría de precio, toma de fotogrfía y video profesional hasta la entrega de la propiedad, te apoyamos en cada paso.</p>
					
					
					<form action="#" th:action="@{/VendeForm}" th:object="${user}" method="post" class="formInvierte">
						 <input type="hidden" name="g-recaptcha-response" class="recaptchaResponse">
    					 <input type="hidden" name="action" value="invierteForm">
						<input type="email" class="btn btn-secondary" id="validationDefaultUsername02"  aria-describedby="inputGroupPrepend2" placeholder="correo electrónico" th:field="*{email}" required />
						<input type="submit" class="btn btn-primary ms-3" value="Vende con nosotros" />	
					
					</form>	
				</div>
				
			</div>
		
						
			
			<div class="row p-5 text-center justify-content-center">
				<div class="col-md-4">
					<img src="imgs/ilustraciones_movil-04.png" class="img-fluid" alt="Somos corredores de propiedades especializados en propiedades para inversión. Te damos asesoría integral para vender tu propiedad">
					<h5 class="invierteBeneficioTitulo">ASESORÍA INTEGRAL</h5>
					<p class="invierteBeneficioTexto">Apoyamos el proceso de compraventa completo,desde el avalúo y la publicación hasta la entrega al nuevo dueño.</p>
				</div>
				
				<div class="col-md-4">
					<img src="imgs/ilustraciones_movil-05.png" class="img-fluid" alt="Tomamos la información de mercado relevante para vender la propiedad de manera fácil y rápida">
					<h5 class="invierteBeneficioTitulo">INFORMACIÓN DE MERCADO</h5>
					<p class="invierteBeneficioTexto">Hacemos estudios de mercado para asegurar el precio de tu propiedad sea el óptimo para la venta.</p>
				</div>
				
				<div class="col-md-4">
					<img src="imgs/ilustraciones_movil-06.png" class="img-fluid" alt="Nos encargamos del proceso de compraventa al comprar propiedades aptas para inversión.">
					<h5 class="invierteBeneficioTitulo">PROCESO DE COMPRAVENTA</h5>
					<p class="invierteBeneficioTexto">Hacemos todo lo posible para facilitar y agilizar el proceso de compraventa. Nuestra comisión es del 2%+ IVA.</p>
				</div>
			</div>
		</div>
	</div>
	</div>		
	</section>
	

	<section id="paraInversionistas" class="gradientVende">
	<div class="container-md py-5 px-5">
			<div class="row md-mx-5">
				<div class="col-md-8">
			
				<div class="row py-5">
					<div class="col-md-8">
						<div class="row">
						<h4 id="invierteSeccion04Titulo01">CORRETAJE</h4>
						<h1 id="invierteSeccion04Titulo02">¿Por qué vender con Vivimos.cl?</h2>		
					</div>
					
					<div class="row align-items-center">
						<div class="col col-sm-2">
							<p class="dash"></p>
						</div>
						<div class="col-9 col-sm-6">
							<p class="invierteSeccion04Titulo03">Tenemos una red de inversionistas interesados en propiedades para inversión.</p>
						</div>		
					</div>
					
					<div class="row align-items-center">
						<div class="col col-sm-2">
							<p class="dash"></p>
						</div>
						<div class="col-9 col-sm-6">
							<p class="invierteSeccion04Titulo03">Experiencia extensa en compra, venta e inversión.</p>
						</div>		
					</div>
					
					<div class="row align-items-center">
						<div class="col col-sm-2">
							<p class="dash"></p>
						</div>
						<div class="col-9 col-sm-6">
							<p class="invierteSeccion04Titulo03">Apoyo de servicios profesionales de fotografía, video y legal</p>
						</div>		
					</div>
					
					<div class="text-center">
						
						<a href="#invierteSeccion03Titulo02"> <button type="button" class="btn btn-primary ms-3">APRENDE MÁS</button></a>
						
					</div>
					
				</div>
				
				<div class="p-3 col-md-4">
				<img src="/imgs/ilustraciones_movil-03.png" class="img-fluid" style="margin-top: 90px;">
				</div>
			</div>
		</div>
		</div>
		</div>
			
	
	</section>

<div th:insert="fragments/testimoniales :: testimoniales"></div>

<!--  	<div th:insert="fragments/linkedInTag :: linkedInTag"></div>-->
		<div th:insert="fragments/bootstrap :: footerBootstrap"></div>		

<!-- Google Recaptcha Script -->		
	<div th:insert="fragments/reCaptcha :: reCaptcha"></div>	
	     
	</body>		

</html>
